.App {
  text-align: center;
}

.App-header {
  background-color: #585858;
  height: 60px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.Dog-table {
  background-color: 'pink';
}

.Paper {
  background-color: 'deeppink'
}
